<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.module.excel.mapper.ExcelMapper">

<!--   查询所有shu数据 -->
    <select id="selectAllData" resultType="com.magic.module.excel.entity.ExcelDataModel">
        select * from excel_data
    </select>
    <!--    新增一个方法batchInsert,所有数据一次性插入-->
    <insert id="writeExcel2DB" parameterType="java.util.List">
            insert into excel_data(hotel_name,create_time,price,gender) values
            <foreach collection="list" item="item" separator=",">
                (#{item.hotelName},#{item.createTime},#{item.price},#{item.gender})
            </foreach>
    </insert>
</mapper>
